{% extends "singlepage.html" %}

{% block page-title %} Accurate Hierarchical Phrase Parser {% endblock %}

{% block page-body %}
<script
   src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"
   type="text/javascript"></script>
<style type="text/css">
#sentence{font-size: 18px; color: black; width: 80%;}
</style>

<h1>Accurate Hierarchical Phrase Parser Online Demo</h1>

<p>
  This parser is a part of my Statistical Machine Translation Model which combines CFG and Dependency parse tree, it requires a CFG tree and a dependency tree for input.
 <br/>
  You can generate them by Berkeley Parser and Stanford Dependency Parser. Here are some simple sentences you can select to try.
 <br/>
 - Raphael Shu, 2013<br/>
 <a href="http://www.nlp.mibel.cs.tsukuba.ac.jp">(Laboratory of Nature Language Processing, University of Tsukuba)</a>
</p>

<form>
  <label>Input a sentence</label><br/>
  <textarea id="sentence"></textarea>
  <br/>
  <label>Sample Sentences</label><br/>
  <select onchange="load_sample(this.value);">
    <option></option>
    <option value="1">we have had two of the worst summers ...</option>
    <option value="2">the anomaly of allowing imported food products ...</option>
    <option value="3">however , on balance I think a lot of improvement ...</option>
    <option value="4">therefore , I firmly believe that Member State governments ...</option>
    <option value="5">it is estimated that such a ban would cut wheat yield by 26% ...</option>
  </select>
  <br/>
</form>
<input type="button" onclick="parse()" value="Parse It!" />
<br/>
<label>Parse Result</label><br/>
<div id="result"></div>

<script type="text/javascript">
$E = function(id){ return document.getElementById(id); };
map_sentence = {
  1 : "we have had two of the worst summers that I have ever seen in the last two years in northern Europe .",
  2 : "the anomaly of allowing imported food products using plant protection products generally , while we will not allow our farmers to use them , continues to be one of the mysteries and one of the major problems we have with legislation of this sort .",
  3 : "however , on balance I think a lot of improvement is being made from the original proposal and I am inclined to support it .",
  4 : "therefore , I firmly believe that Member State governments need to do a lot more explaining of these matters with affected stakeholders, rather than taking the easy route of foisting the responsibility on the so-called Brussels bureaucrats .",
  5 : "it is estimated that such a ban would cut wheat yield by 26% to 62%, potato yield by 22% to 53% and some other vegetable yields by 25% to 77% .",
};
load_sample = function(sentenceId){
  if(!sentenceId) return;
  sentenceId = parseInt(sentenceId);
  $E("sentence").value = map_sentence[sentenceId];

};
parse_callback = function(){

};
parse = function(){

};
</script>
{% endblock %}